/* Center the form */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

pre {
  white-space: pre-wrap;
  margin: 20px;
}

/* Style the form and buttons */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.container {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    padding: 30px;
    width: 75%;
}

.title {
    color: #333;
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.link-list {
    list-style-type: none;
    padding: 20px;
}

.link-item {
    margin-bottom: 15px;
}

.link-item a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    color: #007BFF;
    border: 1px solid #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.link-item a:hover {
    background-color: #007BFF;
    color: #fff;
}

.link-properties {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.property {
    font-size: 14px;
}

.property-name {
    font-weight: bold;
}

.form {
    width: 50%;
}

.form-group {
    margin-bottom: 20px;
    width: 75%;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: column;
}

.form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

.command-output{
    background-color: #d6d6d6;
    padding: 5px;
}

h1 {
    text-align: center;
    color: #333;
  }
  
  .file-fieldset {
    margin-bottom: 20px;
  }
  
  .file-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .file-input {
    margin-right: 5px;
  }
  
  .upload-path-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .upload-path-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .module-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .upload-result {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .command-result {
    margin-bottom: 20px;
  }
  
  .btn-upload {
    margin-right: 10px;
  }
  
  .btn-go-back {
    background-color: #6c757d;
  }
  
  .btn-go-back:hover {
    background-color: #5a6268;
  }

  .video-stream {
    display: block;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}