<!DOCTYPE html>
<html>
<head>
    <title>Malwerinator</title>
    <script>

      function fetchLog(){
        const paragraph = document.getElementById('par');
        const formData = new FormData();
        formData.append("ip", "{{ip}}");
        formData.append("name", "{{name}}");

        fetch("http://localhost:5000/getLog", {
          method: "POST",
          body: formData
        })
        .then(response => {
          return response.text();
        })
        .then(text => {
          paragraph.textContent = text;
        })
        .catch(error => {
          console.error('Error', error);
        })
      }

      setInterval(fetchLog, 500);
    </script>
</head>
<body>
  <p id = "par"></p>
</body>
</html>