<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Malwinator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <h1>Choose a tool</h1>        
    <a class="btn" href="/getLog?name={{name}}&ip={{ip}}">Keylogger</a>
    <a class="btn" href="/viewCamera?name={{name}}&ip={{ip}}">Camera</a>
    <a class="btn" href="/shell?name={{name}}&ip={{ip}}">ReverseShell</a> 
    <a class="btn" href="/upload?name={{name}}&ip={{ip}}">Upload File</a> 
    <a class="btn" href="/">See hosts</a>

</body>
</html>
