<!DOCTYPE html>
<html>
<head>
    <title>Malwinator</title>
    <meta charset="US-ASCII">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <script src="{{url_for('static', filename='js/download.js')}}" defer></script>
    <script src="{{url_for('static', filename='js/command.js')}}" defer></script>

    
</head>
<body>
  <div class="container">
    <label class="upload-path-label">Upload path:</label>
    <input type="text" id="path" name="path_input" class="upload-path-input">
        
    <h3 id="uploadResult" class="upload-result"></h3>
    <p id="command-result" class="command-result"></p>
    <a class="btn btn-upload" onclick="downloadFile()">Download File</a>
    <a class="btn btn-go-back" href="/toolkit?name={{name}}&ip={{ip}}">Go back</a>
  </div>
  <script>
    ip = "{{ip}}"
    name = "{{name}}"
  </script>
</body>
</html>