<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Malwinator</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div class="container">
        <h1 class="title">Available hosts</h1>
        <ul class="link-list">
            {% for key in keys %}
                <li class="link-item">
                    <div class="link-properties">
                        <span class="property property-name">Name:</span>
                        <span class="property">{{key[1]}}</span>
                    </div>
                    <div class="link-properties">
                        <span class="property property-name">IP:</span>
                        <span class="property">{{key[0]}}</span>
                    </div>
                    <div class="link-properties">
                        <span class="property property-name">Status:</span>
                        <span class="property">{{key[2]}}</span>
                    </div>
                    <a href="/toolkit?name={{key[1]}}&ip={{key[0]}}">{{key[1]}}</a>
                </li>
            {% endfor %}
           
        </ul>
    </div>
</body>
</html>
